/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center top;
  background-size: contain;
}

.courseOutterTable {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

.courseInnerTable {
  padding-left: 5px;
}
